@media (max-width: 767px){

    .container{
        width: 540px;
    }

    .burger-wrapper{
        left: 500px;
    }

    .card-list{
        grid-template-columns: 260px 260px;
    }

    .cards{
        width: 540px;
    }

    .card{
        width: 260px;
    }
}