@media (max-width: 991px){
    .burger-menu{
        display: flex;
    }

    .burger-wrapper{
        left: 600px;
    }

    .container{
        width: 720px;
    }

    .card-list{
        grid-template-columns: 220px 220px 220px;
    }

    .cards{
        width: 720px;
    }

    .card{
        width: 220px;
    }

    .menu{
        right: 0px;
        position: fixed;
        background-color: white;
        padding: 80px 30px;
        width: 330px;
        height: 100vh;
        overflow-y: scroll; 
        transform: translateX(100%);
    }
}
