.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);

    .close-btn{
        position: absolute;
        right: 40px;
        top: 30px;
        display: inline-block; 
        cursor: pointer;
        z-index: 1050;

        :hover{
        transform: scale(1.1);
        }
    }

    .modal{
        max-width: 1000px;
        margin: 40px auto;
        width: 100%;
        padding: 40px;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 4px;
        max-height: 80vh;
        position: relative;

        form{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            position: relative;
        }

        &__content{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            position: relative;

            &-up{
                width: 100%;
                display: flex;
                align-items: center;
            }

            &-bottom{
                margin-top: 20px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-teachers{
                display: flex;

                &-content{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }

                &-btns{
                    display: flex;
                    align-items: center;
                    height: 40px;
                }
            }
        }

        &__teacher{
            margin-top: 20px;
            margin-left: 30px;
            color: #7D9FF4;
            font-size: 18px;
        }

        &__btn{
            width: 150px;
            height: 30px;
            background-color: #7D9FF4;
            border: 1px solid #7D9FF4;
            color: white;
            cursor: pointer;
            font-weight: 500;
            outline: none;

            &:hover{
                color: #7D9FF4;
                background-color: #FFFFFF;
            }
        }

        &__title {
            color: #22313F;
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            margin-bottom: 30px;
            font-weight: 700;
                
            &-name{
                color: #4056B9;
                font-size: 20px;
                text-transform: none;
                font-weight: 700;
    
                &-to-delete{
                    text-transform: none;
                    font-weight: 700;
                    font-size: 22px;
                    color: #4056B9;
                }
            }
        }

        &__lable-text-area{
            position: relative;
            width: 100%
        }

        textarea{
            padding: 20px;
            margin: 10px 0px;
            color: #0F0F0F;
            font-size: 20px;
            resize: none; 
            width: 100%;
            outline: none;
            border: 1px solid #7D9FF4;
            border-radius: 5px; 
        }

        &__textarea-label {
            font-size: 16px;
            color: #4056B9;
            display: block;
            padding: 3px 10px;
            background-color: white;
            position: absolute;
            top: -5px;
            left: 10px; 
        }
    }
}